@import "$HOME/.cache/wal/hyprcolors.css";
* {
  min-height: 0;
  font-family: GohuFont Nerd Font;
  font-size: 18px;
  font-weight: 600;
  border-radius: 26px;
  border: none;
}

window#waybar {
  background-color: transparent;
  opacity: 1.0;
}

window#waybar.hidden {
  opacity: 0.5;
  border-radius: 8px;
}

.modules-left {
  background-color: @background;
  margin: 0px 8px;
}

.modules-center {
  background-color: @background;
  margin: 0px 8px;
}

.modules-right {
  background-color: @background;
  margin: 0px 8px;
}

#custom-menu {
  font-size: 16px;
  background-color: @background;
  color: @color1;
  margin: 4px;
}

#workspaces {
  font-size: 14px;
  background-color: @color1;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  border-radius: 20px;
  background-color: transparent;
  color: @background;
  margin: 2px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @color1;
  background: @background;
}

#workspaces button.active {
  color: @color1;
  background-color: @background;
}

#workspaces button.urgent {
  background-color: @background;
  color: @color5;
}

#clock,
#pulseaudio,
#custom-power,
#cpu,
#tray,
#window,
#memory,
#mpd,
#network,
#custom-weather,
#custom-menu,
#custom-newsboat {
  border-radius: 26px;
  padding: 0px 14px;
  margin: 2px;
}

#window {
  background-color: @color2;
  color: @background;
  margin: 4px;
}

#mpd {
  background-color: @color3;
  color: @background;
  margin: 4px;
}
#custom-newsboat {
  font-size: 16px;
  background-color: transparent;
  color: @color3;
}
#custom-weather{
  background-color: @color4;
  color: @background;
  margin: 4px;
}

#clock {
  background-color: @color4;
  color: @background;
  margin: 4px;
  border-radius: 26px 0px 0px 26px;
  margin: 4px;
  margin-right: -8px;
}

#clock.date {
  background-color: @color4;
  color: @background;
  margin: 4px;
  border-radius: 0px 26px 26px 0px;
  margin: 4px;
  margin-left: -8px;
}

#pulseaudio {
  background-color: @color4;
  color: @background;
  margin: 4px;
}

#pulseaudio.muted {
  background-color: @color4;
  color: @color8;
  margin: 4px;
}

#tray {
  background-color: @color5;
  margin: 4px;
}

#custom-power {
  font-size: 16px;
  background-color: transparent;
  color: @color5;
}

tooltip {
  background-color: transparent;
  border: none;
}

tooltip label {
  font-size: 12px;
  background-color: @background;
  border-radius: 8px;
  border: solid 2px @color8;
  color: @color7;
  margin: 6px;
  padding: 6px;
}
