@import "../colors/fraggle.css";
* {
  min-height: 0;
  font-family: ComicShannsMono Nerd Font;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

window#waybar {
  background: transparent;
  opacity: 1.0;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-left {
  background: @background;
  border-radius: 8px;
  margin: 0px 0px;
  padding: 2px;
}

.modules-center {
  background: @background;
  border-radius: 8px;
  margin: 0px 8px;
  padding: 2px;
}

.modules-right {
  background: @background;
  border-radius: 8px;
  margin: 0px 0px;
  padding: 0px;
}

#custom-menu {
  background: transparent;
  color: @color7;
  text-shadow: 0px 0px 3px @background;
}

#workspaces {
  background: @color1;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  border-radius: 2px;
  background: transparent;
  color: @color0;
  margin: 2px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: 0px 0px 5px @color0;
  background: transparent;
  border-radius: 8px;
  color: @color9;
}

#workspaces button.active {
  box-shadow: none;
   text-shadow: 0px 0px 5px @color0;
  background: transparent;
  border-radius: 8px;
  color: @color9;
}

#workspaces button.urgent {
  box-shadow: none;
  background: transparent;
  border-radius: 8px;
  color: @color9;
}

#clock,
#pulseaudio,
#custom-power,
#cpu,
#tray,
#window,
#memory,
#mpd,
#network,
#custom-weather,
#custom-menu,
#custom-newsboat {
  border-radius: 8px;
  padding: 0px 14px;
  margin: 2px;
}

#window {
  background: @color4;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#mpd {
  background: @color2;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#pulseaudio {
  background: @color2;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#pulseaudio.muted {
  background: @color2;
  color: @color8;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#custom-newsboat {
  background: transparent;
  color: @color7;
}

#custom-weather{
  background: @color3;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#clock {
  background: @color4;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#clock.date {
  background: @color4;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;
}

#tray {
  background: @color5;
  color: @color0;
  box-shadow: 0px 0px 5px @color0 inset;
  margin: 4px;}

#tray menu {
  font-size: 12px;
  background: @color0;
  box-shadow: 2px 3px 4px 4px #121212;
  color: @color8;
  margin: 6px;
  padding: 6px;
}

#tray menu menuitem {
  background: @color0;
  color: @color7;
}

#tray menu menuitem:hover {
  background: @color5;
  box-shadow: 2px 3px 1px 1px #121212;
}

#custom-power {
  background: transparent;
  color: @color5;
}

tooltip {
  background: transparent;
  border: none;
}

tooltip label {
  font-size: 14px;
  font-weight: 200;
  text-shadow: none;
  background-color: @color0;
  box-shadow: 2px 3px 1px 1px #121212;
  border-radius: 2px;
  color: @color8;
  margin: 6px;
  padding: 6px;
}
