#browser {
    --colorTabBar:  #1F282E !important;
    --colorFg: #59C99C !important;
    --colorFgAlpha: #59C99C1A !important;
    --colorFgIntense: #59C99C !important;
    --colorFgFaded: #59C99C !important;
    --colorFgFadedMore: #59C99C !important;
    --colorFgFadedMost: #59C99C !important;
    --colorBg: #353e43 !important;
    --colorBgAlpha: #1F282Ee6 !important;
    --colorBgAlphaHeavy: #1F282EA6 !important;
    --colorBgAlphaHeavier: #1F282E40 !important;
    --colorBgAlphaBlur: #1F282Eeb !important;
    --colorBgDark: #326B78 !important;
    --colorBgDarker: #1F282E !important;
    --colorBgLight: #1F282E !important;
    --colorBgLighter: #1F282E !important;
    --colorBgLightIntense: #1F282E !important;
    --colorBgIntense: #1F282E !important;
    --colorBgIntenser: #1F282E !important;
    --colorBgIntserAlpha: #1F282EF2 !important;
    --colorBgInverse: #1F282E !important;
    --colorBgInverser: #1F282E !important;
    --colorBgFaded: #1F282E !important;
    --backgroundBlur: blur(5px) !important;
    --colorHighlightBg: #326B78 !important;
    --colorHighlightBgFaded: #326B78 !important;
    --colorHighlightBgAlpha: #326B781A !important;
    --colorHighlightBgDark: #326B78 !important;
    --colorHighlightFg: #1F282E !important;
    --colorHighlightFgAlpha: #1F282E80 !important;
    --colorHighlightFgAlphaHeavy: #1F282E40 !important;
    --colorAccentBg: #1F282E !important;
    --colorAccentBgAlpha: #1F282E8C !important;
    --colorAccentBgAlphaHeavy: #353e4359 !important;
    --colorAccentBgDark: #1F282E !important;
    --colorAccentBgDarker: #1F282E !important;
    --colorAccentBgFaded: #1F282E !important;
    --colorAccentBgFadedMore: #1F282E !important;
    --colorAccentBgFadedMost: #1F282E !important;
    --colorAccentBorder: #1F282E !important;
    --colorAccentBorderDark: #1F282E !important;
    --colorAccentFg: #59C99C !important;
    --colorAccentFgFaded: #59C99C !important;
    --colorAccentFgAlpha: #59C99C26 !important;
    --colorAccentFgAlphaHeavy: #59C99C0D !important;
    --colorBorder: #353e43 !important;
    --colorBorderDisabled: #353e43 !important;
    --colorBorderSubtle: #353e43 !important;
    --colorBorderIntense: #353e43 !important;
    --colorSuccessBg: #59C99C !important;
    --colorSuccessBgAlpha: #1F282E1A !important;
    --colorSuccessFg: #1F282E !important;
    --colorWarningBg: #C7C65A !important;
    --colorWarningBgAlpha: #C7C65A1A !important;
    --colorWarningFg: #1F282E !important;
    --colorErrorBg: #9F789A !important;
    --colorErrorBgAlpha: #9F789A1A !important;
    --colorErrorFg: #1F282E !important;
    --colorWindowBg: #353e43 !important;
    --colorWindowFg: #59C99C !important;
    --radiusRound: 100px !important;
    --radiusRounded: 8px !important;
    --radiusRoundedLess: 8px !important;
    --radius: 8px !important;
    --radiusHalf: 4px !important;
    --radiusCap: 8px !important;
    --scrollbarWidth: 16px !important;
    --uiZoomLevel: 1 !important;
    background-image: unset !important;
}

